<h1>Hallo</h1>
Message: {{message}}
<br/>
<input type="text" [(ngModel)]="message"/>
<input type="button" [value]="message"/>
<input type="button" value="{{message}}"/>
<br/>
<select [(ngModel)]="myCombo" size="3">
  <option value="aaa">AAA</option>
  <option value="bbb">BBB</option>
  <option value="ccc">CCC</option>
</select>
Selected: {{myCombo}}

<br/>
<input type="checkbox" [(ngModel)]="isStudent"/> Student
<input type="checkbox" [(ngModel)]="isTeacher"/> Teacher
<br/>
isStudent: {{isStudent}} /
isTeacher: {{isTeacher}}

<br/>
<input type="radio" name="country" value="AT" [(ngModel)]="country"/> Austria
<input type="radio" name="country" value="DE" [(ngModel)]="country"/> Germany
<br/>
Country: {{country}}
<br/>
New Name: <input type="text" [(ngModel)]="newName"/>
<button (click)="addName()">Add</button>
<br/>
<ul>
  <!--  <li> Hansi</li>-->
  <!--  <li> Peter</li>-->
  <li *ngFor="let student of students">
    {{student}}
  </li>
</ul>
<table>
  <thead>
  <tr>
<th>ID</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students; let idx=index">
<td>{{idx+1}}</td>
    <td>{{student}}</td>
  </tr>
  </tbody>
</table><table>
  <thead>
  <tr>
<th>ID</th>
    <th>Vorname</th>
    <th>Nachname</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of persons; let idx=index">
<td>{{idx+1}}</td>
    <td>{{student.firstname}}</td>
    <td>{{student.lastname}}</td>
  </tr>
  </tbody>
</table>
